// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Arial", sans-serif;
  font-size: 18px;
}
div#listing{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  align-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
}
div#showCourse{
  margin-left: 5%;
  margin-right: 5%;
}
div#ag{
}
div#table{
  margin-left: 50px;
  margin-right: 50px;
}
p{
  font-size: 18px;
}
p#name{
  font-size: 24px;
}
p#desc{
  margin-left: 20px;
  margin-right: 20px;
}
p#edit{
  margin-left: 20px;
  text-align: right;
}
h1 {
  padding-bottom: 20px;
}
table#center{
  margin-left: auto;
  margin-right: auto;
}
thead{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
td{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  vertical-align: top;
  font-size: 18px;
}
td#back{
  border-width: 0px;
  border-color: black;
  border-style: solid;
  padding-right: 0px;
  padding-left: 0px;
  vertical-align: middle;
}
td#fields{
  border-width: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
td#links{
  border-width: 0px;
  padding: 0px;
  text-align: right;
  vertical-align: middle;
}
td#desc{
  border-width: 0px;
  padding: 0px;
  text-align: left;
  vertical-align: middle;
}
th{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  vertical-align: top;
  background-color: #edf5f5;
  color: #d51616;
  font-size: 18px;
}
